body {
    background-color: rgb(61, 118, 204);
}


.intro {
    text-align: center;
    padding-top: 14px;
    color: black;
}


.contact {
    background-color: rgb(134, 193, 197);
    justify-self: center;
    min-width: 600px;
    text-align: center;
    padding: 50px;
    border-radius: 20%;
}

.cards {
    display: flex;
    max-width: 1100px;
    justify-self: center;
    background-color: rgb(142, 197, 245);
    border-radius: 2%;
    padding: 50px;
}

#fishcam {
    justify-self: center;
    width: 100%;
}

.daybait {
    justify-self: center;
}

.card-title {
    text-align: center;
    font-size: 45px;
}

h3 {
    text-align: center;
    padding-top: 14px;
    color: black;
}

#mypictures {
    max-width: 500px;
    max-height: 500px;
    justify-self: center;
}

.dennis {
    justify-self: center;
}

@media (min-width: 500px) {
    nav {
        display: none;
    }

    #fishcam {
        display: none;
    }

    .fishcammobile {
        text-align: center;
    }

    .mobile {
        display: contents;
        padding: 5px 5px 5px 5px;
    }

    .dawgofa {
        display: none;
    }

}

@media (min-width: 768px) {
    .fishcammobile {
        font-size: 0px;
    }

    .dawgofa {
        display: flex;
        justify-content: center;
    }

    #fishcam {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    nav {
        display: contents;
        overflow: hidden;
        position: sticky;
        top: 0;
        overflow: hidden;
        background-color: #333;
        text-align: center;
        font-size: 25px;
        background-color: rgb(116, 153, 255);
        color: rgba(32, 32, 32, 0.199);

        a:hover {
            color: rgb(255, 255, 255);
            text-decoration: underline;
        }
    }

    .mobile {
        display: none;
    }
}